body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #181818;
    color: #EAEAEA;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.centered {
    text-align: center;
}

.centered img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.centered a, .centered button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #EAEAEA;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.3s;
}

.centered a:hover, .centered button:hover {
    background-color: #555;
}

#contactButton {
    cursor: pointer;
}
