/* Basic styling for dark theme, similar to Microsoft Learn */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: #1a1a1a;
    overflow-x: hidden;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.centered {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    margin: 10px 0;
    font-size: 2em;
}

p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #8a8a8a;
}

.action-button {
    display: inline-block;
    background-color: #0063B1;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    color: #ffffff;
    cursor: pointer;
}

.action-button:hover {
    background-color: #004782;
    transform: scale(1.05);
}

/* Styles for contact form (modal) */
.modal {
    display: none; /* This will initially hide the modal */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    align-items: center; /* Vertically centers the child elements */
    justify-content: center; /* Horizontally centers the child elements */
}

.modal-content {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background: #1a1a1a;
   /* margin: auto;  /* Changed the margin to vertically center the modal */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;  /* Centered the "Contact Me" text */
}

.modal-content input[type="text"], .modal-content textarea {
   /* width: 100%; */
    width: calc(100% - 20px);  /* Adjusted width to account for padding */
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 4px;
    background: #222;
    color: #fff;
}

.modal-content button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #0063B1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #ffffff;  /* Added to ensure the button text is white */
}

.modal-content button:hover {
    background-color: #004782;
}
